body
{
  background-image: linear-gradient(to right, rgba(88, 189, 248, 0.726), rgba(24, 19, 19, 0.233));
}

video
{
  margin:0 auto;
  width:60%;
 margin-left: 300px;
}
.title
{
background-color: aliceblue;
border: 1px outset rgb(228, 235, 241);
height: 70px;

}

.navbar
{
    
    display: block;
    background-image: linear-gradient(to right, rgba(13, 155, 238, 0.726), rgba(24, 19, 19, 0.233));
}
.nav
{
   padding-right: 0;
}
.logo
{
    
   font-size: x-large;
    text-align: center;   
    transition: 5s ease-in;
    animation: myLogo 3s linear infinite reverse;
}
/* Standard syntax */
@keyframes myLogo {
  0% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
  50% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(229, 229, 240), 0 0 5px rgba(37, 37, 253, 0.897);}
  100%{ color: rgb(14, 13, 13);
    text-shadow: 1px 1px 2px rgb(228, 223, 223), 0 0 25px blue, 0 0 5px rgb(132, 132, 179);}
}

@-webkit-keyframes myLogo {
  0% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
  50% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(229, 229, 240), 0 0 5px rgba(37, 37, 253, 0.897);}
  100%{ color: rgb(14, 13, 13);
    text-shadow: 1px 1px 2px rgb(228, 223, 223), 0 0 25px blue, 0 0 5px rgb(132, 132, 179);}
}


.logo span i
{
    color: rgba(235, 6, 6, 0.89);

    opacity: 1;
}
.logo span i:hover
{
    color: rgba(29, 7, 7, 0.89);
    background-color: rgb(248, 244, 244);
    opacity: 2;
    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
h2{

  margin: auto;
  font-weight: bold;
  font-style: normal;
  font-size: larger;
  text-transform: capitalize;
  background-image: linear-gradient(  rgba(171, 220, 248, 0.726) );
  
   text-align: center;
   animation: myh2 5s linear 2s  infinite;
}
/* Standard syntax */
@keyframes myh2 {
  0% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
  50% { color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
  100%{ color: rgb(14, 13, 13);
    text-shadow: 0 0 3px #FF0000;}
}

@keyframes myh2 {
  0% { color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;}
  50% { color: white;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;}
  100%{ color: rgb(14, 13, 13);
    text-shadow: 0 0 3px #FF0000;}
}

/* .logo:hover
{
    
    border-bottom-style: inset;
    border-bottom-color: rgb(242, 243, 243);
} */

.connectUs p i
{
    color: rgb(7, 6, 8);
}
.pageContent
{
  /* background-image: linear-gradient(to right, rgba(64, 175, 240, 0.726), rgba(24, 19, 19, 0.233)); */
max-height: 100%;
flex:0 0 100%;
}
.footer .nav
{
    background-color: aliceblue;
    border: 1px outset rgb(195, 224, 253);
}
.home
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 600;
    margin: 10px;
}

.home .carousel 
{
    margin: 5px;
    margin-left:50px;
    display: inherit;
    float: left;
width:90%;
height: 40%;
box-shadow: 10px 10px 5px grey;

}
.home .carousel img
{
   width:100%;
   opacity: 2;
   height: 500px;
}
/* @media screen and (max-width: 992px) {

}
 */

@media screen and (max-width: 600px) {
  .home .carousel 
{
  margin-left:5px;
}
  .home .carousel img {
    height: 300px;
  }
  h2{

    margin: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 28px;
    text-transform: capitalize;
    background-image: linear-gradient(  rgba(171, 220, 248, 0.726) );
     text-align: center;
     animation: myh2 5s linear 2s  infinite;
  }
  video{
    margin:0 auto;
    width:100%;
  }
}
.home article
{

font-size: 60px;
font-variant-caps: all-petite-caps;
}
.home ul li
{
    list-style: none;
    font-size: medium;
    font-variant-caps: titling-caps;
    margin: 5px;
}
.home ul li:hover
{
background-color: rgb(241, 247, 245);
color: black;
zoom: 1.1;
cursor: pointer;
opacity: 2;
text-shadow: #777;
}
.home article p
{

font-size: medium;
font-variant-caps: titling-caps;

}
.pagination li
{
    font-size: medium;
    border: 1px solid rgb(94, 94, 245);
    width: 25px;
    text-align: center;
    
}
.content h2{
    padding: 15px;
    margin: auto;
    font-style: normal;
    text-transform: capitalize;
  

}
.register ul li
{
    list-style: none;
    font-size: x-large;
    padding-left: 2%;
    font-variant-caps: titling-caps;
    margin: 5px;
}
/* .register form
{
    margin: 5px;
    border: 1px outset lightcyan;
    padding: 5px;
    height: 100%;
    
} */
.register button
{
   display: block;
    width: 30%;
    margin:6px;
    margin-left: 20%;
    

}
.register label
{
margin: 3px;
}
.register input
{
    display: inline;
}

.form-control 
{
    display: block;
    padding: 0px;
}
.form-signin {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-weight: 600;
    padding: 15px;
    margin: auto;
  }
  .form-signin h2
  {
    padding: 3px;
    font-style: normal;
    text-transform: capitalize;
  }
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }
.table
{
    overflow-x: auto;
    border-collapse: separate;
   
}
