<div class="home">
<div id="carouselId" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselId" data-slide-to="0" class="active"></li>
        <li data-target="#carouselId" data-slide-to="1"></li>
        <li data-target="#carouselId" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="images/homeSlidehd2.jpg" alt="First slide">
            <!--Carousel Caption  -->
            <!-- <div class="carousel-caption d-none d-md-block">
                    <h3>Title</h3>
                    <p>Description</p>
                </div> -->
        </div>
        <div class="carousel-item">
            <img src="images/homeSlide3.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img src="images/homeSlidehd1.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<article>
        <h2>Welcome's you to save a life</h2>
    <video src="file/bloodMotivation.mp4"  controls>sorry <i class="fab fa-sad-cry"></i>, Video not supported</video>
   
    <ul>
        <li>Our thought is to link people to  help people in case of emergency. </li>
        <li>Everyone should aware of for the people by the people to the people,Resposible people are doing or not .</li>
        <li>It's our time step up and do it for ourselves.
                After watching some of the incidents of people medical need and those who are realy like to support those people by spending some of 
                the money.</li>
        <li>Nowadays everything mobilised each one will be aware of social media and internet .</li>
        <li>Soo many thinks has been developed and followed by the people.
                </li>
        <li>We took a initiative by making this platform so please put your hands together and support us.</li>
        <li>We are planning to make website to post medical emergency need that everyone can see and help them.</li>
        <li>We need volunteer to proceed this thing further.</li>
        <li>First initiative is getting information of volunteer.</li>
        <li>Next one is blood donation campaign so many blood banks are available but inavailability of money and blood 
            samples in the blood bank may lead to death of people .</li>
        <li>Those who realy like to help those people kindly donate the blood and save the life.</li>
        <li>We are  expecting our volunteer to donate blood .</li>
        <li>If your ready to save the life please fill the form in the link .</li>
        <li><a ui-sref="register">Register Now and Save life</a></li>
    </ul>


</article>
</div>