<div class="lifeSaver">
  
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="my-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="my-modal-title">Compatible Blood Type Donors</h5>
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>S.No </th>
                                    <th>Blood Group</th>
                                    <th>Donate Blood To</th>
                                    <th>Accept Blood From </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="val in bloodGroupDetails">
                                    <td>{{val.sNo}}</td>
                                    <td>{{val.bloodType}}</td>
                                    <td>{{val.donateTo}}</td>
                                    <td>{{val.receiveFrom}}</td>
                                </tr>
                            </tbody>
                        </table>
                
                    </div>
                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
    </div>
    
    <h2>List of blood donars</h2>
    <button type="button" class="btn btn-outline-info btn-sm float-right mb-1    mr-1" data-toggle="modal" data-target="#myModal">
        Alternate blood group details
      </button>
    <input class="form-control mt-3 mb-3" type="text" placeholder="Enter your search text" ng-model="test">
    <div class="table">
        <table class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Name <i class="fas fa-sort-down" ng-click="orderByMe('Name')"></i></th>
                    <th>Blood Group <i class="fas fa-sort-down" ng-click="orderByMe('BloodGroup')"></i></th>
                    <th>Number <i class="fas fa-sort-down" ng-click="orderByMe('ContactNo')"></i></th>
                    <th>City <i class="fas fa-sort-down" ng-click="orderByMe('City')"></i></th>
                    <th>State <i class="fas fa-sort-down" ng-click="orderByMe('State')"></i></th>
                    <th>Age <i class="fas fa-sort-down" ng-click="orderByMe('Age')"></i></th>

                </tr>
            </thead>
            <tbody>
                <tr dir-paginate="x in lyfSaverDetails | orderBy : myOrderBy | filter : test | itemsPerPage:15">
                    <td>{{x.Name}}</td>
                    <td>{{x.BloodGroup}}</td>
                    <td>{{x.ContactNo}}</td>
                    <td>{{x.City}}</td>
                    <td>{{x.State}}</td>
                    <td>{{x.Age}}</td>
                </tr>
            </tbody>
        </table>
        <dir-pagination-controls class="pagination" max-size="5" direction-links="true" boundary-links="true">
        </dir-pagination-controls>
    </div>
</div>