<div class="register">
    <div class="row">
        <div class="col-sm-6 content">
                <h2>Welcome's you to save a life</h2>
            <ul>
                <li>Most of the people are willing to donate blood to needy people, but we don't know how to reach
                    them.</li>
                <li>Now its easy to reach them.</li>
                <li>Once you registered your details here, you may get call incase of emergency.</li>
                <li>God give life to all, with a single help you might give second life.</li>
                <li>In this journey we are there for uniting hands.</li>
                <li>Now you're none other than God. Join hands with us.</li>
            </ul>
        </div>
        <div class="col-sm-6">
            <form class="form-signin">
                <h2>Kindly fill your details</h2>
                <div class="form-label-group">
                    <input type="text" id="Name" class="form-control" placeholder="Name" required autofocus>
                    <label for="inputEmail">Name</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="Age" class="form-control" placeholder="Age" required>
                    <label for="inputPassword">Age</label>
                </div>
                <div class="form-label-group">
                    <input type="text" id="BloodGroup" class="form-control" placeholder="Blood Group" required
                        autofocus>
                    <label for="inputEmail">Blood Group</label>
                </div>
                <div class="form-label-group">
                    <input type="tel" id="ContactNumber" class="form-control" placeholder="Contact Number" required>
                    <label for="inputPassword">Contact Number</label>
                </div>
                <div class="form-label-group">
                    <select id="my-input" class="form-control" placeholder="Select a state" ng-model="stateSelect">
                        <option ng-repeat="val in stateList" value="{{val.Name}}">{{val.Name}}</option>
                    </select>
                </div>
                <div class="form-label-group">
                    <input type="text" id="City" class="form-control" placeholder="City" required>
                    <label for="inputPassword">City</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> I am ready to save a life
                    </label>
                </div>
                <button type="submit" class="btn btn-primary col-sm-2">Save Life</button>
            </form>
        </div>
    </div>
</div>